<div class="skills-heading  grid-container">
  <div class="grid-item1"><h1>Skills and Relevant Courses</h1></div>
</div>

<div class="courses grid-container">
  <div class="grid-item2"><h3 class="font-weight-bold">Courses</h3></div>
  <div class="grid-item3"><p class="font-weight-bold">Advanced Database Structures</p>
    <p class="item-info">Studied specific data structures, when to use them, and how to determine run times of certain algorithms.</p>
  </div>
  <div class="grid-item4"><p class="font-weight-bold">Operating Systems</p>
    <p class="item-info">Discovered how an operating system organizes tasks, process handling algorithms, threading, and how data is stored in memory. </p>
  </div>
  <div class="grid-item5"><p class="font-weight-bold">Software Design Methods</p>
    <p class="item-info">Gained experience with proper programming practices including meaningful commenting, common software design patterns, and keeping code clean/readable.</p>
  </div>
  <div class="grid-item6"><p class="font-weight-bold">Software Engineering</p>
    <p class="item-info">Worked with a team to create a web application which allows users to search for businesses using Yelp’s “dataset challenge” database.</p>
    <p class="item-info">Programmed in Python using MongoDB to handle data.
       Gained experience in using Flask and Pymongo APIs.</p>
  </div>
</div>
