<nav-bar></nav-bar>
<div  [hidden]="this.router.url === '/' || this.router.url === '/projects'" class="skills-heading  grid-container">
  <div class="grid-item1"><h1>Skills and Relevant Courses</h1></div>
</div>

<div [hidden]="this.router.url !== '/projects'" class="grid-item1">
  <h1>My Previous Projects</h1>
</div>

<div class="bg-card">
  <div [hidden]="this.router.url !== '/'"  class="aboutMe grid-container">
    <div class="myPhoto">
      <img src="/assets/images/photo.jpg" alt="Photo">
    </div>
    <div class="bio">
      <p>My name is John Hoey, I am a recent graduate from St. John's University.
        My strengths include mathematics, object oriented programming,
        and web design. A dream job for me would be a position where I would
        create apps that incorporate AI programming/machine learning. I hope to create websites
        where users can form a better understanding of the utility and practicality
        of these fields for themselves! </p>
    </div>
  </div>


  <div class="grid-container fixed-bottom">
      <a class="linkedInLogo footer" href="https://www.linkedin.com/in/john-hoey-292835128/" target="blank"><img src="/assets/images/linkedInLogo.jpg" alt="LinkedIn"></a>
      <a class="gitLogo footer" href="https://github.com/Jajhoey" target="blank"><img src="/assets/images/gitHubLogo.png" alt="Github"></a>
  </div>
  <router-outlet></router-outlet>
</div>
