div>h1 {
  color: black;
  margin-top: 80px;
  display: block;
  text-align: center;

}

.bg-card{
  background-color: #F0E6D6;
  border-radius: 5px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
  box-shadow: 5px 10px 10px 5px;
}

.dropdown-content>button:hover{
  color: white;
  background-color: grey;

}

button:focus{
  outline: none;
}

button{
  color: white;
  display: block;
  border: none;
  background-color: #343a40;

}

.dropdown{
  position:relative;
  display: inline-block;
}


.dropdown:hover > .dropdown-content{
  display: block;
  background-color: #343a40;

}

.drop-button:hover{
  border: none;
  background-color: grey;
  color: white;
  border-radius: 10px 10px 10px 0px;
}

.drop-button:focus{
  outline: none;

}

.dropdown-content{
  display: none;
  position: absolute;
  border-radius: 0px 0px 10px 0px;
  padding-right: 5px;
  width:110%;
}

.nav-item:hover > button{
  background-color: grey;
  border-radius: 10px 10px 10px 0px;
}

.nav-link {
  color: white;
  font-size: 14pt;
}

.aboutMe{
  text-align: left;
  font-size: 16pt;
  margin-top: 10%;
}

.bio{
  padding-top: 25%;
  padding-bottom: 10%;
}

.myPhoto > img{
  border-radius: 60%;
  width: 400px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;

}

.grid-container>.footer1>img{
  width: 50px;
  border-radius: 50%;
  grid-column-gap: 10px;
}

.grid-container>.footer2>img{
  width: 50px;
  border-radius: 50%;
  grid-column-gap: 10px;
}

.gitLogo{
  text-align: center;
  grid-area: footer2;
  margin-right: 50%;
}

.linkedInLogo{
  text-align: center;
  grid-area: footer1;
  margin-left: 50%;

}

.grid-container > .project{
  margin-top: 5%;
  text-align: center;
  grid-area: center;
}

.grid-item1 {
  grid-area: header;
}

.grid-item2{
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 10%;
  grid-area: left-h;
}

.grid-item-rh{
  margin-top: 50px;
  margin-bottom: 30px;

  grid-area: right-h;
}

.grid-item3 {
  grid-area: left;
  margin-left: 30%;

}

.grid-item4 {
  grid-area: left;
  margin-left: 30%;
}



.grid-item5 {
  margin-right: 15%;
  grid-area: right;
}

.grid-item6 {
  margin-right: 15%;
  grid-area: right;

}

.skills>.grid-item4 {
  padding-top: 200px;
}

.skills>.grid-item6 {
  padding-top: 200px;

}

.courses>.grid-item4 {
  padding-top: 250px;
}

.courses>.grid-item6 {
  padding-top: 250px;
}

.item-info{
  margin-right: 15%;
}

.project>.grid-item2>a>img{
  grid-area: left;
  margin-left: 20%;
  width: 40%;
}

.project>.grid-item-rh>a>img{
  margin-left: 20%;
  width: 35%;
}

.grid-container>div{
  color: black;
  font-size: 14pt;
}

.grid-container{
  display: grid;
  grid-column-gap: 50px;
  grid-template-areas:
    'header header header header'
    'left-h left-h right-h right-h'
    'center center center center '
    'left left right right'
    'footer1 footer1 footer2 footer2';
}

@media only screen and (max-width: 1000px) {
  .myPhoto{
    grid-area: header;
    text-align: center;
  }

  .myPhoto>img{
    width: 90%;
    margin-top: 10%;
  }

  .bio{
    margin-right: 10%;
    margin-left: 10%;
    grid-area: center;
  }

  .skills>.grid-item3{
    margin-left: 15%;

  }

  .skills>.grid-item4{
    margin-left: 15%;

  }

  .skills>.grid-item5{
    grid-area: left;
    margin-left: 15%;
    margin-top: 75px;
  }

  .skills>.grid-item6{
    grid-area: left;
    margin-top: 150px;
    margin-left: 15%;
  }

  .courses>.grid-item3{
    grid-area: center;
    margin-left: 20%;
  }

  .courses>.grid-item4{
    grid-area: center;
    margin-top: 350px;
    margin-left: 20%;

  }

  .courses>.grid-item5{
    grid-area: center;
    margin-left: 20%;
    margin-top: 200px;

  }

  .courses>.grid-item6{
    margin-left: 20%;
    margin-top: 600px;
    grid-area: center;
  }

  .project>a>img{
    width: 70%;
  }

  .project>div>h4{
    font-size: 10pt;
  }
  .project>.grid-item2>a>img{
    grid-area: left;

  }

  .project>.grid-item-rh>a>img{
    margin-left: 20%;

  }


  .bg-card{
    margin-left: 5%;
    margin-right: 5%;
  }

  .gitLogo{
    margin-left: 15%;

  }

  .linkedInLogo{
    margin-right: 15%;
  }

  .navbar{
    font-size: 8pt;
  }


}
