<nav class = "navbar navbar-expand fixed-top">
  <ul class = "navbar-nav">
    <li [ngClass] = "this.router.url === '/' ? 'active' : ''" class = "nav-item"><button class = "nav-link" routerLink="/">Home</button>
    <li class = "nav-item">
      <div class="dropdown">
        <button [ngClass] = "this.router.url === '/about-skills' || this.router.url === '/about-courses' || this.router.url === '/about-edu' ? 'active' : ''" class="nav-link drop-button" routerLink="/about-skills">Skills/Education</button>
        <div class="dropdown-content">
          <button routerLink="/about-skills">Technical Skills</button>
          <button routerLink="/about-courses">Relevant Courses</button>
          <button routerLink="/about-edu">Education</button>
        </div>
      </div>
    </li>
    <li  [ngClass] = "this.router.url === '/projects' ? 'active' : ''"  class = "nav-item"><button class = "nav-link" routerLink="/projects">Personal Projects</button></li>
  </ul>
</nav>
