<nav class = "navbar bg-dark navbar-expand fixed-top">
  <ul class = "navbar-nav">
    <li class = "nav-item"><button class = "nav-link font-weight-bold" routerLink="/">Home</button>
    <li class = "nav-item">
      <div class="dropdown">
        <button class="nav-link active drop-button" routerLink="/about-skills">Skills/Education</button>
        <div class="dropdown-content">
          <button routerLink="/about-skills">Technical Skills</button>
          <button routerLink="/about-courses">Relevant Courses</button>
          <button routerLink="/about-edu">Education</button>
        </div>
      </div>
    </li>
    <li class = "nav-item"><button class = "nav-link" routerLink="/projects">Personal Projects</button></li>
  </ul>
</nav>
