<div class="skills-heading  grid-container">
  <div class="grid-item1"><h1>Skills and Relevant Courses</h1></div>
</div>

<div class="skills grid-container">
  <div class="grid-item2"><h3><b>Technical Skills</b></h3></div>
  <div class="grid-item3"><p><b>Operating Systems:</b> Windows, Linux</p> </div>
  <div class="grid-item4"><p><b>Languages/Frameworks:</b> Java, Python, HTML, CSS, Javascript, NodeJS, Angular</p> </div>
  <div class="grid-item5"><p><b>Tools:</b> Git, Eclipse, Atom, Violet UML Editor</p> </div>
  <div class="grid-item6"><p><b>Databases:</b> SQL, MongoDB</p></div>
</div>
